<div class="row">
    <div class="col-4 left-panel">
        <form name="form" #forecastForm="ngForm" novalidate>
            <div class="form-group mt-5">
                <label for="exampleInputEmail1">Model ID</label>
                <input type="text" class="form-control" placeholder="Enter Model ID" name="model_id"
                    [(ngModel)]="searchForecast.model_id" #model_id="ngModel"
                    (blur)="onModelEnter($event.target.value)">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Mat No</label>
                <input type="text" class="form-control" placeholder="Enter Material No" name="material_no"
                    [(ngModel)]="searchForecast.material_no" #material_no="ngModel">
            </div>
            <div class="form-group">
                <label>Loc No</label>
                <input type="text" class="form-control" placeholder="Enter Location No" name="location_no"
                    [(ngModel)]="searchForecast.location_no" #location_no="ngModel">
            </div>
            <div class="form-group">
                <label>Period</label>
                <select class="form-control" name="period" [(ngModel)]="searchForecast.period" #period="ngModel"
                    (change)="selectedPEriod(searchForecast.period)">
                    <option selected>Choose...</option>
                    <option>Daily</option>
                    <option>Weekly</option>
                </select>
            </div>

            <div class="form-group" *ngIf="showDailyPicker">
                <label>From</label>
                <div class="input-group calendar-style">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker"
                        name="fromDate" [(ngModel)]="searchForecast.fromDate" #fromDate="ngModel" [minDate]="startDate"
                        [maxDate]="endDate">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                </div>
            </div>

            <div class="form-group" *ngIf="showDailyPicker">
                <label>To</label>
                <div class="input-group calendar-style">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker"
                        name="toDate" [(ngModel)]="searchForecast.toDate" #toDate="ngModel" [minDate]="startDate"
                        [maxDate]="endDate">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                </div>
            </div>

            <!-- <div *ngIf="showWeeklyPicker">
                <div class="form-group">
                    <label>Select week start Day</label>
                    <select class="form-control" [(ngModel)]="selectedValue" (ngModelChange)='changeSelection($event)'
                        name="weekDays" id="weekDays">
                        <option value=1>Monday</option>
                        <option value=2>Tuesday</option>
                        <option value=3>Wednesday</option>
                        <option value=4>Thursday</option>
                        <option value=5>Friday</option>
                        <option value=6>saturday</option>
                        <option value=7>Sunday</option>
                    </select>
                </div>
            </div> -->

            <div class="form-group" *ngIf="selectedValue !== '' && showWeeklyPicker">
                <label>From</label>
                <div class="input-group calendar-style">
                    <input class="form-control" placeholder="yyyy-mm-dd" [markDisabled]="isDisabledFromDate"
                        name="fromDate" [(ngModel)]="searchForecast.fromDate" #fromDate="ngModel" ngbDatepicker
                        #d="ngbDatepicker" [minDate]="startDate" [maxDate]="endDate">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                </div>
            </div>

            <div class="form-group" *ngIf="selectedValue !== '' && showWeeklyPicker">
                <label>To</label>
                <div class="input-group calendar-style">
                    <input class="form-control" placeholder="yyyy-mm-dd" [markDisabled]="isDisabledToDate" name="toDate"
                        [(ngModel)]="searchForecast.toDate" #toDate="ngModel" ngbDatepicker #d="ngbDatepicker"
                        [minDate]="startDate" [maxDate]="endDate">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-outline-dark mb-5"
                (click)="onSubmit(forecastForm.value);">Submit</button>
        </form>
    </div>
    <div class="col-8">
        <div class="action" *ngIf="formSubmit">
            <button class="btn btn-outline-dark mb-3 mt-3" (click)="downloadExcel()">Download</button>
            <button class="btn btn-outline-dark mb-3 mt-3 ml-5" (click)="openExcel(excelContent)">Copy Paste</button>
            <div class="input-group mb-5 ml-5 mt-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile02"
                        (change)="uploadVideo($event.target.files)">
                    <label class="custom-file-label" for="inputGroupFile02"
                        aria-describedby="inputGroupFileAddon02">Upload</label>
                </div>
            </div>
        </div>
        <div class="zui-wrapper mt-5">
            <div class="zui-scroller">
                <table class="excel zui-table">
                    <thead>
                        <tr>
                            <th class="text-left zui-sticky-col">PlanBucket</th>
                            <th *ngFor="let column of gridData; let columnIndex = index">
                                {{column.planBucket}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left zui-sticky-col">Forecast</td>
                            <td *ngFor="let row of gridData; let rowIndex = index;">
                                <ng-container>
                                    <input type="text" [(ngModel)]="row.forecast" [value]="row.forecast">
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #excelContent let-modal id="exampleModal">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Forecast Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="excel-header">
            <span>Optidesk - Plan View</span>
        </div>
        <div #sheet id="excel"></div>
    </div>
    <span *ngIf="errorMsg" style="color: red;padding-left: 17px;">{{errorMsg}}</span>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>