.left-panel {
    background-color:#e1e6e5;
    border-right: 1px solid black;
}

.row {
    height: 562px !important;
}

.custom-file-label::after {
    display: none !important;
}

.custom-file-label {
    color: #343a40;
    border-color: #343a40;
}

.input-group {
    width: 10% !important;
}

#excel {
    width: 100%;
    overflow: scroll;
}

.excel-header {
    background-color: #2D9C5F;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group {
    display: inline-flex !important;
}

.dp-date-picker.dp-material .dp-picker-input {
    width: 339px !important;
}

.calendar-style {
    width: 100% !important;
}

.calendar {
    width: 2.75rem;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=) !important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
}

.ngb-dp-today {
    background: red !important;
}