.left-panel {
    background-color:#e1e6e5;
    border-right: 1px solid black;
}

.row {
    height: 562px !important;
}

.custom-file-label::after {
    display: none !important;
}

.custom-file-label {
    color: #343a40;
    border-color: #343a40;
}

.input-group {
    width: 25% !important;
}

#excel {
    width: 100%;
    overflow: scroll;
}

.excel-header {
    background-color: #2D9C5F;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group {
    display: inline-flex !important;
}