<div class="row">
    <div class="col-4 left-panel">
        <form>
            <div class="form-group mt-5">
                <label for="exampleInputEmail1">Mat No</label>
                <input type="text" class="form-control"
                    placeholder="Enter Marerial No">
            </div>
            <div class="form-group">
                <label>Loc No</label>
                <input type="text" class="form-control" placeholder="Enter Location No">
            </div>
            <div class="form-group">
                <label>Period</label>
                <select class="form-control">
                  <option selected>Choose...</option>
                  <option>Daily</option>
                  <option>Weekly</option>
                  <option>Monthly</option>
                </select>
              </div>
            <button type="submit" class="btn btn-outline-dark mb-5">Submit</button>
        </form>
    </div>
    <div class="col-8">
        <div class="action">
            <button class="btn btn-outline-dark mb-3 mt-3">Inline Edit</button>
            <button class="btn btn-outline-dark mb-3 mt-3 ml-5">Copy Paste</button>
            <button class="btn btn-outline-dark mb-3 mt-3 ml-5">Upload</button>
            <button class="btn btn-outline-dark mb-3 mt-3 ml-5">Download</button>
        </div>
        <div class="zui-wrapper">
            <div class="zui-scroller">
                <table class="excel zui-table">
                    <thead>
                        <tr>
                            <th *ngFor="let column of forecastData; let columnIndex = index"
                                [ngClass]="{'text-left zui-sticky-col': columnIndex === 0}">
                                {{column.planBucket}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td *ngFor="let row of forecastData; let rowIndex = index;"
                                [ngClass]="{'zui-sticky-col': rowIndex === 0}">
                                <ng-container *ngIf="rowIndex==0;else elseBlock">
                                    <p>
                                        {{row.forecast}}
                                    </p>
                                </ng-container>
                                <ng-template #elseBlock>
                                    {{row.forecast}}
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>