<h1 class="ml-3">Handson Table Implementation</h1>
<br><br>
<button class="btn btn-lg btn-outline-primary ml-5" (click)="openHandsonTable(handsonContent)">Upload</button>
<ng-template #handsonContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Forecast Details</h4>
    </div>
    <div class="modal-body">
        <hot-table #hot class="hot" [settings]="hotSettings">
        </hot-table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
    </div>
</ng-template>
<br><br>
<div class="forecast-upload">
    <div id="example"></div>
</div>