<h1 class="ml-3">Handson Table Update Row Implementation</h1>
<hot-table class="hot ml-5" [hotId]="tableId" [settings]="updateSettings" [data]="detailset">
    <hot-column data="planDate" [readOnly]="true" title="Date"></hot-column>
    <hot-column data="independentDemand" [readOnly]="false" title="Independent Demand" type="numeric"></hot-column>
    <hot-column data="dependentDemand" [readOnly]="true" title="Dependent Demand"></hot-column>
    <hot-column data="totalDemand" [readOnly]="true" title="Total Demand"></hot-column>
</hot-table>
<hr>
<h1>Chart.js</h1>
<canvas id="myChart" width="500" height="300"></canvas>
<hr>
<h1>D3.js</h1>