/* You can add global styles to this file, and also import other style files */
@import '~handsontable/dist/handsontable.full.css';

body {
    font-family: Verdana, Helvetica, Arial, FreeSans, sans-serif;
}

h1 {
    font-size: 20px;
}

hr {
    margin: 15px 0;
    border: 1px solid #ccc;
}

.customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.customers td,
.customers th {
    border: 1px solid #323232;
    padding: 4px 10px;
    font-size: 14px;
    color: #323232;
    width: 90px;
}

.customers th {
    text-align: center;
}

.text-bold {
    font-weight: bold !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.excel td .child-td {
    padding-left: 20px;
}

.excel p {
    margin: 0;
}

// .customers td.input-td {
//     padding-top: 3px;
//     padding-bottom: 3px;
// }

// .customers td input {
//     width: 78px;
//     height: 16px;
//     padding: 0 5px;
//     line-height: 16px;
// }

.w-auto {
    width: auto !important;
}

.w-100 {
    width: 100% !important;
}

.w-100px {
    width: 100px !important;
}

.excel,
.jexcel {
    font-family: Verdana, Helvetica, Arial, FreeSans, sans-serif;
    font-size: 12px;
    border-collapse: separate;
    border-spacing: 0;
    color: #222;
}

.jexcel>tbody>tr>td.readonly {
    color: #222;
    text-align: left;
}

.excel th,
.excel td,
.jexcel th,
.jexcel td {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 22px;
    empty-cells: show;
    line-height: 21px;
    overflow: hidden;
    outline-width: 0;
    padding: 0 4px !important;
}

.excel tr th:first-child,
.excel tr td:first-child {
    border-left: 1px solid #ccc;
    background-color: #edeef0;
}

.excel th {
    background-color: #edeef0;
    color: #222;
    font-weight: bold;
    white-space: nowrap;
}

table thead td,
table thead td {
    font-weight: bold;
}

.excel td.row-number {
    background-color: #edeef0;
    width: 25px;
    text-align: center;
}

.excel td.row-number span {
    color: #222;
}

.excel td input {
    border: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    outline: none;
}

.excel tbody tr:last-child td {
    border-bottom: 1px solid #ccc;
}

.excel tr:nth-child(1)>td,
.handsontable table.htCore tr:nth-child(1)>td {
    color: #222;
}

.handsontable table.htCore {
    font-size: 12px;
}

.handsontable .htDimmed {
    color: #222;
}

.handsontable span.colHeader {
    font-weight: bold;
}

.wtHolder {
    position: relative !important;
    height: auto !important;
    width: 962.667px !important;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}


.line {
    fill: none;
    stroke-width: 3px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.hover-line {
    stroke: #B74779;
    stroke-width: 2px;
    stroke-dasharray: 3, 3;
}

.zui-wrapper {
    position: relative;
}

.zui-scroller {
    margin-left: 141px;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 5px;
    width: calc(100% - 141px);
}

.zui-table .zui-sticky-col {
    left: 0;
    position: absolute;
    top: auto;
    width: 143px;
}

.usercase-navigate {
    cursor: pointer;
    text-decoration: underline;
}